﻿@model NPC0100Project.Models.Project

@{
    ViewData["Title"] = "Create";
}
@{
    var userId = ViewBag.userId;
}
<style>
    #projectName {
        width: 1200px;
        /*        height: 200px;*/
    }

    #description {
        width: 1200px;
        height: 200px;
    }

    #members {
        width: 1200px;
        /*        height: 200px;*/
    }
</style>
<div class="container tm-features-section">
    <h1>Create</h1>
    <br />
    <h4>
        Project
        <a href="#" class="btn btn-success text-white" style="float:right">以Excel(.xlsx)方式上傳</a>
    </h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" id="projectName" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" id="description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Members" class="control-label"></label>
                    <input asp-for="Members" class="form-control" id="members" />
                    <span asp-validation-for="Members" class="text-danger"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
