﻿@model NPC0100Project.Models.Project

@{
    ViewData["Title"] = "Details";
}
<div class="container tm-features-section">
    <h1>Details</h1>

    <div>

        <h4>Project</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Html.DisplayWithBreaksFor(model => model.Description))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Members)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Members)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>