﻿@model IEnumerable<Project>

@{
    ViewData["Title"] = "專案彙總";
}



<!-- Features -->

<div class="container tm-features-section" id="features">
    <div class="row tm-features-row">

        <div class="container">
            <form>
                <button onclick="exportData()" class="btn btn-outline-secondary">
                    <span class="iconify-inline" data-icon="grommet-icons:document-csv"></span>
                    下載彙總表Excel(.csv)
                </button>
                <button class="btn btn-outline-success" asp-action="Excel">
                    <span class="iconify-inline" data-icon="vscode-icons:file-type-excel2"></span>
                    下載彙總表Excel(.xlsx)
                </button>
                @*<a asp-action="RunBot">

                    RunBot
                </a>*@

                <input style="width: 270px; margin-left: 1%;" type="text" id="myInput" onkeyup="SearchFunction()" placeholder="查詢專案成員...">
                <a asp-route-sortOrder="@ViewBag.MemberSort" style=" float:right">
                    <span class="iconify-inline" data-icon="bx:bx-sort"></span>
                    按專案成員排序
                </a>
            </form>
        </div>
        <div class="container"><hr></div>
        @foreach (var item in Model)
        {


            <section class="col-md-6 col-sm-12 tm-feature-block">
                <header class="tm-feature-header">
                    @{ 
                            var listIcon = new List<string>
                        {
                            "emojione:closed-book",
                            "emojione:green-book",
                            "emojione:open-book",
                            "el:book",
                            "carbon:report",
                            "icon-park:table-report",
                            "line-md:document-report-twotone",
                            "heroicons-outline:document-report",
                            "ant-design:file-done-outlined",
                            "ant-design:file-zip-outlined",
                            "icon-park:projector - three",
                            "icon-park:projector-one",
                            "icon-park-outline:projector",
                            "emojione-v1:film-projector",
                            "ri:projector-2-fill",
                            "ant-design:paper-clip-outlined",
                            "bx:bx-paper-plane",
                            "bx:bxs-paper-plane",
                            "cil:paper-plane",
                            "el:paper-clip",
                            "entypo:paper-plane",
                            "fa-regular:paper-plane",
                            "noto-v1:paperclip",
                            "eos-icons:ai",
                            "icon-park:brain",
                            "ic:outline-smart-toy",
                            "carbon:ai-results",
                            "twemoji:robot",
                            "icon-park:robot-one",
                            "emojione:robot-face",
                            "la:robot"
                        };

                        Random rand = new Random();
                        var c = rand.Next(0,30);
                        <span id="TitleIcon" class="iconify-inline fas fa-5x fa-anchor tm-feature-icon" data-icon=@listIcon[c]></span>
                    }
                    <h3 class="tm-feature-h">@Html.DisplayFor(m => item.ProjectName)</h3>
                </header>
                <p>
                    @Html.Raw(Html.DisplayWithBreaksFor(modelItem => item.Description))
                </p>
                <p>
                    @*<a asp-route-sortOrder="@ViewBag.MemberSort">*@
                    @Html.DisplayNameFor(m => m.Members)
                    @*</a>*@
                    ：@Html.DisplayFor(m => item.Members)
                </p>
                @*<p>@item.OwnerID</p>*@
                <p>
                    @{
                        var user = UserManager.FindByIdAsync(item.OwnerID).Result;
                    }
                    提交人：@user.EmployeeName
                </p>

                <form>
                    @*<button class="btn btn-outline-info">info</button>*@
                    @*<button class="btn btn-outline-light">light</button>*@

                    @*<button class="btn btn-outline-secondary">secondary</button>*@
                    <button class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.ID">明細</button>
                    <button class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ID">編輯</button>
                    @if (SignInManager.IsSignedIn(User) && item.OwnerID == SignInManager.UserManager.GetUserId(User) || User.IsInRole("Admin"))
                    {
                        @*<div>@User.Identity.IsAuthenticated</div>
                            <div>@User.Identity.Name</div>
                            <div>@User.Identity.AuthenticationType</div>
                            <div>@item.OwnerID</div>
                            <div>@SignInManager.UserManager.GetUserId(User)</div>*@
                        <button id="delete" class="btn btn-outline-warning" asp-action="Delete" asp-route-id="@item.ID">刪除</button>
                    }
                    else
                    {
                        <button disabled class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.ID">刪除</button>
                    }


                    <hr />
                </form>
            </section>
        }

    </div>
</div>
<table class="table" id="myTable" style="display: none">
    <thead>
        <tr>
            <th class="filter" id="ProjectName">
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th class="filter" id="Description">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="filter" id="Members">
                @Html.DisplayNameFor(model => model.Members)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.Raw(Html.DisplayWithBreaksFor(modelItem => item.Description))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members)
                </td>

            </tr>
        }
    </tbody>
</table>

<script>


    function SearchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();

        for (var i = 3; i < @Model.Count()+3; i++) {
            txtValue = document.querySelector(`#features > div > section:nth-child(${i}) > p:nth-child(3)`).textContent;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                
                document.querySelector(`#features > div > section:nth-child(${i})`).style.display = "";
            }
            else {
                document.querySelector(`#features > div > section:nth-child(${i})`).style.cssText = "display: none;";
            }
        }

        // Loop through all table rows, and hide those who don't match the search query
        //for (i = 0; i < tr.length; i++) {
        //    td = tr[i].getElementsByTagName("td")[1];
        //    if (td) {
        //        txtValue = td.textContent || td.innerText;
        //        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        //            tr[i].style.display = "";
        //        } else {
        //            tr[i].style.display = "none";
        //        }
        //    }
        //}
    }

    function exportData() {

        /* Get the HTML data using Element by Id */
        var table = document.getElementById("myTable");
        table.style.cssText = "display: block;";
        /* Declaring array variable */
        var rows = [];

        //iterate through rows of table
        for (var i = 0, row; row = table.rows[i]; i++) {
            //rows would be accessed using the "row" variable assigned in the for loop
            //Get each cell value/column from the row
            if (row.cells[0].innerText.indexOf('      ') >= 0) {
                continue;
            }
            else {
                column1 = row.cells[0].innerText;
            }
            if (row.cells[1].innerText.indexOf('      ') >= 0) {
                continue;
            }
            else {
                column2 = row.cells[1].innerText;
            }
            if (row.cells[2].innerText.indexOf('      ') >= 0) {
                continue;
            }
            else {
                column3 = row.cells[2].innerText;
            }





            /* add a new records in the array */
            rows.push(
                [
                    column1,
                    column2,
                    column3


                ]
            );

        }
        function processRow(row) {
            var finalVal = '';
            for (var j = 0; j < row.length; j++) {
                var innerValue = row[j] === null ? '' : row[j].toString();
                if (row[j] instanceof Date) {
                    innerValue = row[j].toLocaleString();
                };
                var result = innerValue.replace(/"/g, '""');
                if (result.search(/("|,|\n)/g) >= 0)
                    result = '"' + result + '"';
                if (j > 0)
                    finalVal += ',';
                finalVal += result;
            }
            return finalVal;
        };

        var csvString = rows.map(function (item) { return processRow(item) }).join("\n");
        //前置的"\uFEFF"为“零宽不换行空格”，可处理中文乱码问题
        var blob = new Blob(["\uFEFF" + csvString], { type: 'text/csv;charset=gb2312;' });
        var a = document.createElement('a');
        a.download = '專案彙總表.csv';//这里替换为你需要的文件名
        a.href = URL.createObjectURL(blob);
        a.click();
        table.style.cssText = "display: none;";
    }
</script>