﻿
@{
    ViewData["Title"] = "RunBot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RunBot</h1>
<br />
<br />
<br />
<br />
<div>@ViewBag.output</div>

<div>
    @{ if (ViewBag.error == "")
        {
            <h1>Success.</h1>
        }
        else
        {
            @ViewBag.error;
        }
    }
</div>


