﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<div class="row">
    <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



@section Scripts{
    @RenderSection("Scripts", required: false)
<script>
    $(function () {
        var current = this.location.pathname;
        $('.nav-pills li a').each(function () {
            var $this = $(this);
            if (current.indexOf($this.attr('href')) !== -1) {
                $this.addClass('active');
            } 
        })
    })
</script>
}
