﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container tm-features-section">
    @RenderBody()
</div>
    



@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var current = this.location.pathname;
            $('.nav-pills li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}