﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}




<div>
    <div class="container tm-features-section">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}