﻿@model CreateRoleViewModel

@{
    ViewData["Title"] = "CreateRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}


<h1>Create New Role</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control"/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button style="width:auto;" submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>
</div>

