﻿@model IdentityRole
@{
    ViewData["Title"] = "DeleteRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}

<h1>DeleteRole</h1>
<ul>
    <li>
        @Html.DisplayNameFor(m => m.Id):
        @Html.DisplayFor(m => m.Id)
    </li>
    <li>
        @Html.DisplayNameFor(m => m.Name):
        @Html.DisplayFor(m => m.Name)
    </li>
</ul>
<form asp-action="DeleteRole">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" />
</form>
<p>
    <a asp-action="ListRoles">Back to Role List</a>
</p>
