﻿@model ApplicationUser
@{
    ViewData["Title"] = "DeleteUser";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}

<h1>DeleteUser</h1>
<ul>
    <li>
        @Html.DisplayNameFor(m => m.Id):
        @Html.DisplayFor(m => m.Id)
    </li>
    <li>
        @Html.DisplayNameFor(m => m.UserName):
        @Html.DisplayFor(m => m.UserName)
    </li>
    <li>
        @Html.DisplayNameFor(m => m.NotesID):
        @Html.DisplayFor(m => m.NotesID)
    </li>
    <li>
        @Html.DisplayNameFor(m => m.Email):
        @Html.DisplayFor(m => m.Email)
    </li>
</ul>
<form asp-action="DeleteUser">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" />
</form>
<p>
    <a asp-action="ListUsers">Back to User List</a>
</p>