﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ListUsers";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}

<h1>ListUsers</h1>
@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto;" asp-area="Identity" asp-page="/Account/Register">
        Create User
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User ID: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName @user.EmployeeName</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users create yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use  the button below to create a user.
            </h5>
            <a class="btn btn-primary" style="width:auto;" asp-area="Identity" asp-page="/Account/Register">
                Create User
            </a>
        </div>
    </div>
}

