﻿@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ListRoles";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}


<h1>ListRoles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto;" asp-action="CreateRole" asp-controller="Administration">
        Add new Role
    </a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role ID: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteRole" asp-route-id="@role.Id">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles create yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use  the button below to create a role.
            </h5>
            <a class="btn btn-primary" style="width:auto;" asp-controller="Administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}