﻿@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "ManageUserRoles";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ADLayout.cshtml";
}
@{ 
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card-header">
        <h2>Manage User Roles</h2>
    </div>
    <div class="card-body">
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="form-check m-1">
            <input type="hidden" asp-for="@Model[i].RoleId" />
            <input type="hidden" asp-for="@Model[i].RoleName" />
            <input asp-for="@Model[i].IsSelected" class="form-check-input"/>
            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                @Model[i].RoleName
            </label>
        </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-primary" style="width:auto;"/>
        <a asp-action="EditUser" asp-route-id="@userId"
           class=""btn btn-primary" style="width:auto;">Cancel</a>
    </div>
</form>
