﻿@{
    ViewData["Title"] = "Home Page";
}


<!-- Video Banner -->
<section class="tm-banner-section" id="tmVideoSection">
    <div class="container tm-banner-text-container">
        <div class="row">
            <div class="col-12">
                <header>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h2 class="tm-banner-title">資訊應用組 專案彙總</h2>
                    <p class="mx-auto tm-banner-subtitle">
                        The webpage uses ASP.NET CORE 3.1 as the framework and aims to unify the projects in our group.
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </header>
            </div>
        </div>
    </div>

    <!-- Video -->
    <video id="hero-vid" autoplay="" loop="" muted>
        <source src="~/videos/city-night-blur-01.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</section>