﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NPC0100Project</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="icon" type="image/x-icon" href="~/Images/pIconx.png">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="~/css/style.css" rel="stylesheet" />*@
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/tooplate-style.css" />
    <style>
        #logout {
            display: inline;
            position: absolute;
        }


    </style>
</head>
<body>
    <div id="logout">
        <partial name="_LoginPartial.cshtml" />
    </div>

    <div class="container" id="home">
        <div class="col-12 text-center">
            <div class="tm-page-header">
                <span class="iconify-inline fas fa-4x fa-chart-bar mr-4" data-icon="file-icons:microsoft-project"></span>
                <h1 class="d-inline-block text-uppercase">Projects</h1>

            </div>
        </div>
    </div>

    <!-- navbar -->
    <div class="tm-nav-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#tmMainNav"
                                aria-controls="tmMainNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="tmMainNav">
                            <ul class="navbar-nav mx-auto tm-navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Project" asp-action="Index">彙總表</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Project" asp-action="Create">專案提報</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://10.3.61.129:9527/" target="_blank">資源共享區</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://gitlab.com/lojyehuang/MVC_NPC0100Project" target="_blank">本站GitLab</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link external" href="#FB">Page</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    @*<br />
    <img
        src="~/Images/sample2.png"
        style="
        position: absolute;
        width: 40%;
        margin-left: 30%;
        opacity:0.5;
        margin-right: auto;" />*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NPC0100Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
