﻿@using Microsoft.AspNetCore.Identity
@using NPC0100Project.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav py-3" >

    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item" style="border-radius:50px">
            <a id="manage" class="nav-link text-dark btn-outline-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span class="iconify-inline" data-icon="si-glyph:bubble-message-hi"></span>
                Hello @UserManager.GetUserName(User)！
            </a>
        </li>

        //只有Admin可以看見↓↓↓↓↓
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link text-dark btn-outline-primary dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   asp-controller="Administration" asp-action="ListRoles">
                    <span class="iconify-inline" data-icon="carbon:user-role"></span>
                    權限管理
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-action="ListUsers" asp-controller="Administration"
                       class="dropdown-item">Users</a>
                    <a asp-action="ListRoles" asp-controller="Administration"
                       class="dropdown-item">Roles</a>
                </div>
            </li>            
        }
        //只有Admin可以看見↑↑↑↑↑
        <li class="nav-item">
            @*<a id="logout" class="nav-link btn-outline-success text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>*@


            <form id="logoutForm" class="form-inline nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn-outline-success text-capitalize">
                    <span class="iconify-inline" data-icon="carbon:logout"></span>
                    Logout
                </button>
            </form>

        </li>        
    }
        else
        {
           
        <li class="nav-item">
                <a class="nav-link text-dark btn-outline-info" id="register" asp-area="Identity" asp-page="/Account/Register">
                    <span class="iconify-inline" data-icon="noto-v1:registered"></span>
                    Register
                </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn-outline-success" id="login" asp-area="Identity" asp-page="/Account/Login">
                <span class="iconify-inline" data-icon="carbon:login"></span>
                Login
            </a>
        </li>

        }

        </ul>
<script>
    // when dropdown toggle button is clicked
    $('.dropdown-toggle').click(function () {
        // reset the z-indexes for the cards
        $(".dropdown-menu").each(function () {
            $(this).css('z-index', 3001)
        });

        // then set the z-index for the .dropdown-toggle's closest .card ancestor
        $(this).closest('.card').css('z-index', 2);
    });

</script>